{{ if isset .Params "article_menu" }}
<div class="menu-column">
	<nav class="article-menu">
		<ul class="menu-items nav">
		{{ range $i, $item := .Params.article_menu.items }}
			<li>
				{{ if $item.no_link }}
					<span class="title">{{ $item.title }}</span>
				{{ else }}
					{{ $id := or ($item.id) ($item.title | urlize | lower) }}
					<a href="#{{ $id }}">{{ $item.title }}</a>
				{{ end }}
				{{ if $item.items }}
					<ul class="submenu-items nav">
						{{ range $j, $sub := $item.items }}
							{{ if $sub.no_link }}
								<span class="title">{{ $sub.title }}</span>
							{{ else }}
								{{ $id := or ($sub.id) ($sub.title | urlize | lower) }}
								<li><a href="#{{ $id }}">{{ $sub.title }}</a></li>			
							{{ end }}			
						{{ end }}
					</ul> 
				{{ end }}
			</li>
		{{ end }}

		{{ if .Params.enable_comments }}
			<li><a href="#comments" class="comments-link"><i class="fa fa-coffee"></i> <span class="disqus-comment-count" data-disqus-identifier="{{ .RelPermalink | js }}"></span></a></li>
		{{ end }}
		</ul>
	</nav>
</div>
{{ end }}
