<div class="row">
	<footer class="read-next">
		{{ if .Prev }}
			{{ if (in .Prev.Params.locations "blog") }}
				{{ with .Prev }}
					<div class="newer">
						<h5 class="read-next-heading">Newer</h5>
						<a href="{{ .Permalink }}" class="post-link"><h4 class="read-next-title"><i class="fa fa-hand-o-left"></i>{{ .Title }}</h4></a>
						<time class="read-next-time">{{ .Date.Format .Site.Params.date_format }}</time>
						<p class="read-next-excerpt">{{ or .Description (add (.Summary | first 120) "&hellip;" | safeHtml) }}</p>
					</div>
				{{ end }}
			{{ end }}
		{{ end }}
		{{ if .Next }}
			{{ if (in .Next.Params.locations "blog") }}
				{{ with .Next }}
					<div class="older">
						<h5 class="read-next-heading">Older</h5>
						<a href="{{ .Permalink }}" class="post-link"><h4 class="read-next-title">{{ .Title }}<i class="fa fa-hand-o-right"></i></h4></a>
						<time class="read-next-time">{{ .Date.Format .Site.Params.date_format }}</time>				
						<p class="read-next-excerpt">{{ or .Description (add (.Summary | first 120) "&hellip;" | safeHtml) }}</p>
					</div>
				{{ end }}
			{{ end }}
		{{ end }}
	</footer>
</div>
