<script type="text/javascript">
	var disqus_shortname = 'tjmio';
	(function () {
		var s = document.createElement('script'); s.async = true;
		s.type = 'text/javascript';
		s.src = '//' + disqus_shortname + '.disqus.com/count.js';
		(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	}());
</script>

<!-- This is here because the disqus script doesn't seem to search for non-link 
elements with class="disqus-comment-count" unless there's at least one link
like this that points at #disqus-thread. -->
<a href="#disqus-thread" style="display: none;"></a>
