<article {{ if .Params.classes }}class="{{ delimit .Params.classes " " }}"{{ end }}>
	{{ $date := .Date.Format .Site.Params.date_format }}
	<time datetime="{{ $date }}" class="article-time">{{ $date }}</time>
	<h1 class="article-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
	<p>{{ .Summary }}</p>
	<p class="undecorated-links"><a class="read-button" href="{{ .Permalink }}" role="button">
		<strong class="title">Full Article <i class="fa fa-hand-o-right"></i></strong>
		<small class="reading-time">({{ .ReadingTime }} minute read)</small>
	</a></p>
</article>
