// On a 768px screen with a scroll bar we might have 736px of usable space. We
// don't want our content to be flush to the edge so we allow 16px for a little
// gutter (the size of which we can't really control) on either size. This gives
// us 720px for actual content, which is where @article-width-narrow comes from.
@article-width: 620px;
@article-width-narrow: 520px;
@article-menu-width: 170px;
@article-gutter: 30px;
@article-container-width-narrow: 
	@article-width-narrow + 
	@article-gutter + 
	@article-menu-width;
@article-container-width: 
	@article-width + 
	@article-gutter + 
	@article-menu-width;

.read-button:extend(.btn all, .btn-default all, .btn-block all) {
	margin-top: 1 * @line-height-computed;
	border-color: #E7E7E7;
	.title { 
		display: block;
		font-weight: normal; 
	}
	.reading-time { 
		display: block; 
		.text-muted();
		font-size: 0.875rem;
	}
	//padding: (1 * @padding-large-vertical) (2 * @padding-large-horizontal);
}

.article-container {
	box-sizing: border-box;
	margin: @article-vspace auto 0 auto;
	padding: 0 (@article-gutter / 2);
	position: relative;
	width: 100%;
	.clearfix();

	@media (max-width: @screen-xs-max) {
		max-width: @article-width + @article-gutter;
	}

	@media (min-width: @screen-sm-min) {
		max-width: @article-container-width + @article-gutter;
	}

	.article-row {
		box-sizing: border-box;
		margin: 0 -(@article-gutter / 2) @article-vspace -(@article-gutter / 2);
		.clearfix();

		@media (min-width: @screen-sm-min) { 
			padding-right: (@article-gutter + @article-menu-width);
		}
	}

	// Article navigation menu.
	.menu-column:extend(.hidden-print all, .hidden-xs all) {
		float: right;
		width: @article-menu-width;
		.clearfix();
	}

	#disqus_thread {
		margin: 0 (@article-gutter / 2);
	}

	// Content article.

	&.single-article article {
		min-height: 400px;
	}

	&.article-summaries article {
		margin-bottom: 1 * @article-gutter;
	}

	article {
		float: left;
		margin: 0 (@article-gutter / 2);

		font-size: @article-font-size;
		line-height: @line-height-base;

		.article-title {
			margin-top: 10px;
		}

		.article-time {
			color: @gray;
			font-weight: bold;
		}

		p, table, li {
			&:not(.undecorated-links) a {
				.fancy-link();
			}
		}

		.identifier {
			font-family: @font-family-monospace;
			font-size: @code-font-size;
			white-space: pre;
		}

		table:extend(.table all) { }

		kbd { white-space: pre; }

		ul  {
			.fa-ul;
			padding-left: @padding-large-horizontal;

			li {
				padding: 0 0 @padding-base-vertical 0;
				position: relative;
				&:before {
					.fa; .fa-li;
					content: @fa-var-angle-right;
					color: @brand-primary;
				}

				blockquote, pre {
					display: inline-block;
					border: 1px solid @pre-border-color;
				}

				p:empty { margin: 0; } // Hack for broken markdown output.
			}
		}

		> code, > p > code {
			font-family: @font-family-monospace;
			font-size: @code-font-size;
			white-space: pre;
			color: @code-color;
			background: @code-bg;
			border: 1px solid @pre-border-color;
			border-radius: 2px;
			padding: 1px 3px;

		}

		blockquote, pre {
			padding-left: @padding-large-horizontal;
			border-left: @block-quote-edge-width solid @brand-primary;
			border-radius: @block-quote-edge-radius;
		}

		pre {
			padding: @padding-base-vertical @padding-base-horizontal;
			color: @gray-base;
			background-color: @gray-lighter;
			font-family: @font-family-monospace;
			overflow-x: auto;
			word-wrap: normal; // Scroll, don't wrap.
		}

		&.compact-code pre {
			font-size: @compact-code-font-size;
		}

		div.highlight {
			background: none !important; // Override Pygments inline style.
			.clearfix();
		}
	}
}
