nav.article-menu {
	@highlight-border-width: 4px;
	@space-vertical: @padding-base-vertical;
	@indent: 20px;
	@submenu-indent: 10px;

	position: fixed;
	overflow-y: auto;

	.webkit-jiggle-fix();

	a, span.title {
		padding: (@space-vertical / 2) 2rem (@space-vertical / 2) @indent;
	}

	.menu-items > li {
		a, span.title {
			font-weight: bold;
		}	
		&.active {
			> a, > span.title {
				padding-left: @indent - @highlight-border-width;
			}
		}
	}
	.submenu-items > li {
		.small();
		a, span.title {
			.text-muted();
			font-weight: normal;
			padding: (@space-vertical / 4) 2rem (@space-vertical / 4) (@indent + @submenu-indent);
		}
		a:hover {
			color: @link-hover-color;
		}
		&.active {
			> a, > span.title {
				padding-left: @indent + @submenu-indent - @highlight-border-width;
			}
		}
	}

	li.active {
		> a, span.title {
			border-left: @highlight-border-width solid @brand-primary;
			border-radius: @highlight-border-width;
			background: @gray-lighter;
		}
	}

	a.comments-link {
		.small();
		.text-muted();
		margin-top: @space-vertical;
		font-weight: normal;
		i { margin-right: 4px; }
	}
}