@grid-float-breakpoint: 240px;
@article-vspace: 40px;
@divider-color: #DEDEDE;
@article-font-size: 15px;
@block-quote-edge-width: 10px;
@block-quote-edge-radius: 4px;

body { 
	padding-top: 70px; // Avoid the navigation bar.
	position: relative;
	overflow-x: hidden;
}
