@top-bar-transparent-min: 1000px;
@top-bar-transparent-max: (@top-bar-transparent-min - 1px);

// When the top bar is opaque, make headings artificially taller (without 
// changing their in-flow height) so that when we navigate to an anchor, the
// actual heading is pushed down 50px and avoids the opaque bar.
@media (max-width: @top-bar-transparent-max) {
	h1, h2, h3, h4, h5, h6 {
		&:before {
			content: "";
			display: block;
			position: relative;
			width: 0;
			height: @body-padding-vertical;
			margin-top: -@body-padding-vertical;
		}
	}
}


// Navigation Bar
.top-nav:extend(.navbar all, .navbar-default all, .navbar-fixed-top all) {
	.webkit-jiggle-fix();

	transition: background-color 0.5s;

	@media (min-width: @top-bar-transparent-min) {
		pointer-events: none;
		background: none;
	}

	.logo:extend(.navbar-header all) {
		pointer-events: all;
		a:extend(.navbar-brand all) {
			font-weight: bold;
			font-size: 13px;
			&:hover, &:active {
				font-size: 13px;
			}
		}
	}
	.links:extend(.nav all, .navbar-nav all, .navbar-right all) {
		@base-hpad: 10px;
		margin-right: 0;
		pointer-events: all;
		li > a {
			font-weight: bold;
			text-transform: uppercase;
			padding-left: @base-hpad;
			padding-right: @base-hpad;
			&.image-link {
				padding-left: 0;
				padding-right: @base-hpad / 2;
				&.leftmost {
					padding-left: 2 * @base-hpad; 
				}
			}
		}
	}
}

// Make the navbar not stick to the top on mobile and remove the compensatory 
// body padding.
@media (max-width: 479px) {
    .top-nav {
	    position: relative;
	    top: auto;
    }
    body {
    	padding-top: 0;
    }
}
